<html>
    <head>
       <title>Login</title>

        <%= stylesheet_link_tag "yeti" %>

    </head>

    <body screen_capture_injected="true">
        <div class="container-fluid" style="margin-left: 40%; margin-right: 40%; margin-top: 10%">

          <form class="form-signin" role="form">
            <h2 class="form-signin-heading">Effettua il login</h2>
            <input type="text" class="form-control" placeholder="Email address" required autofocus>
            <input type="password" class="form-control" placeholder="Password" required>
            <label class="checkbox">
              <input type="checkbox" value="remember-me"> Ricordami
            </label>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
          </form>

        </div>
    </body>


</html>