<html>
    <head>
      <title>Apri un conto</title>

      <%= stylesheet_link_tag "yeti" %>
    </head>

    <body>
        <div class="container-fluid" style="margin-left: 30%; margin-right: 30%; margin-top: 5%">
          <form class="bs-example form-horizontal">
            <fieldset>
              <legend>Apri un conto</legend>
              <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Username</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" id="inputUsername" placeholder="Username">
                </div>
              </div>

              <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                  <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label">Repeat</label>
                <div class="col-lg-10">
                  <input type="password" class="form-control" id="inputRipPassword" placeholder="Repeat Password">
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-10">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Accetto i termini
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Inviami notifiche
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                  <button class="btn btn-default">Cancel</button>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
    </body>
</html>